<header id="site-header">
  <a id="logo" href="/" title="Pablo Silva">PS</a>
  <nav class="site-nav">
    <ul>
      <li><a href="https://docs.google.com/presentation/d/1KiXkkmqN6rp7_FY-u-zCd4uMYHFH8SfMSV2hKhdsMms/edit?usp=sharing" target="_new">Meus serviços</a></li>
      <li><a href="https://abouttolead.substack.com/" target="_new">about to lead</a></li>
<!--  
      <li><a href="/projects">Projetos</a></li> -->
    </ul>
  </nav>
  <div class="social-nav">
    <a href="https://twitter.com/oseupablo/" target="_new" title="Twitter">
      <img src="/images/social-icons/icon-twitter.svg" alt="Twitter">
    </a>
    <a href="https://www.linkedin.com/in/oseupablo/" target="_new" title="Linkedin">
      <img src="/images/social-icons/icon-linkedin.svg" alt="Linkedin">
    </a>
  </div>
</header>