{{ define "main" }}

{{ partial "content-header.html" . }}
<div id="container">
	<p>Eu sou realmente apaixonado pelo que eu faço todos os dias. Eu trabalho com muito empenho para fazer com que as coisas que eu acredito se realizem. Minha missão é ajudar as empresas a criarem produtos que geram mais valor e são mais lucrativos e assim mudar o mundo para melhor. Eu faço isso ajudando as pessoas a se tornarem líderes melhores.</p>
	<p>Sou co-founder do <a href="https://productoversee.com/" target="_new">Product Oversee</a>, um portal de conteúdo para pessoas de produto com opinião.</p>
	<p>Ficarei muito feliz em me conectar com você nas minhas redes.</p>
</div>

{{ end }}
